div {
    height: 100px;
    width: 80px;
    float: left;

}

#box1 ,#box3 {
    background-color: purple;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#box2 {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
}