h1 {
    text-transform: uppercase;
    color: blue;
}

h2 {
    text-transform: capitalize;
    color: red;
    text-decoration: underline;
}

p {
    text-align: justify;
}

.important {
    text-shadow: 3px 4px 6px red;
}